.light-grey {
  color: #d6d6d6;
}

.dark-grey {
  color: #444;
}

.nav-bar {
  width: 98%;
  height: 3px;
  background-color: #d6d6d6;
  border-radius: 5px;
}

.img-container {
  width: 382.66px;
  height: 382.66px;
  border: 3px solid #d6d6d6;
  border-radius: 5px;
}

.meme-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profile-img {
  width: 50px;
  height: 50px;
  border: 3px solid #d6d6d6;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px 0 10px;
}

.profile-name {
  margin: 34px 5px 0;
  font-size: 18px;
}

.comment-box-height {
  height: 90vh;
}

.comment-box {
  width: 80%;
  height: 80vh;
  border-radius: 5px;
  background-color: #444;
}

.like-dislike {
  width: 40px;
  margin: 0 20px 0 60px;
}

.like-dislike-count {
  display: inline;
  color: #d6d6d6;
}

.phone-like-dislike {
  width: 40px;
}

.arrow {
  font-size: 40px;
  margin: 10px 0 0;
}

.hamberger-background {
  position: absolute;
  background: #0000007a;
  width: 100%;
  text-align: center;
  height: 100%;
}

.hamberger {
  background-color: #d6d6d6;
  width: 50%;
  margin: auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.no-decoration {
  text-decoration: none;
}

.menu-divider {
  height: 3px;
  width: 98%;
  background-color: #444;
  border-radius: 5px;
}

.nav-arrow {
  font-size: 25px;
  margin: 0 0 0 5px;
}

.phone-comment-background {
  height: 9.75vh;
  background-color: #444;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.react-bar {
  margin: 10px;
}

.edit-entry-btns {
  background-color: #1c1c1c;
  color: #d6d6d6;
  border: 3px solid #d6d6d6;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  width: 140px;
  margin: 4rem 0 0;
}

.edit-entry-btns:hover {
  cursor: pointer;
}

.edit-entry-btns:active {
  transform: scale(1.05);
  border: 3px solid #5c75bb;
}

.edit-entry-top-btn-margin {
  margin: 40px 0 0;
}

.edit-entry-bottom-btn-margin {
  margin: 20rem 0 0;
}

.post-image-container-margin {
  margin: 40px 0 20px;
}

.post-image-container {
  width: 100%;
  height: 65vh;
  border: 4px solid #d6d6d6;
  border-radius: 5px;
}

.add-entry-btn {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  background-color: #d6d6d6;
}

.add-entry-btn:hover {
  cursor: pointer;
}

.horizontal-btn-line {
  width: 50%;
  height: 5px;
  background-color: #1c1c1c;
  border-radius: 5px;
}

.vertical-btn-line {
  width: 5px;
  height: 50%;
  background-color: #1c1c1c;
  border-radius: 5px;
}

.insert-url-input {
  width: 300px;
  border-radius: 5px;
  border: none;
}

.insert-url-text {
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0 0;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .edit-entry-btns {
    background-color: #1c1c1c;
    color: #d6d6d6;
    border: 3px solid #d6d6d6;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 600px) {
  .insert-url-text {
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0 0;
    text-align: center;
  }
}
